@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
body {
    font-family: 'Nunito', sans-serif;
}

.hero-image {
    background-image: url('img/team/team2.png');

    background-size: cover;
    background-position: center;
    height: 500px;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    animation: fadeInDown 0.3s ease-in-out;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}